<%
import os, yaml, base64
config=yaml.load(open(os.environ['LANDSCAPE_CONFIG']))
profileName=config["cloud"]["variant"]
kubeconfig = open(os.path.join(os.environ['KUBIFY_STATE_PATH'], "gen", "assets", "auth", "kubeconfig"), 'r').read()
%>
# Secret containing cloud provider credentials for Openstack account into which Shoot clusters should be provisioned.
---
apiVersion: v1
kind: Secret
metadata:
  name: core-openstack
  namespace: garden-seed
  labels:
    cloudprofile.garden.sapcloud.io/name: openstack # label is only meaningful for Gardener dashboard
type: Opaque
data:
  username: ${base64.b64encode(config["authentication"]["variant_openstack"]["os_user_name"])}
  password: ${base64.b64encode(config["authentication"]["variant_openstack"]["os_password"])}
  tenantName: ${base64.b64encode(config["authentication"]["variant_openstack"]["os_tenant_name"])}
  domainName: ${base64.b64encode(config["authentication"]["variant_openstack"]["os_domain_name"])}
  kubeconfig: ${base64.b64encode(kubeconfig)}
