<%page args="config" />
<%
authentication=config["authentication"]["variant_azure"]
misc=config["misc"]["variant_all"]
%>
az_client_id = "${authentication["az_client_id"]}"
az_client_secret = "${authentication["az_client_secret"]}"
az_region = "${authentication["az_region"]}"
az_subscription_id = "${authentication["az_subscription_id"]}"
az_tenant_id = "${authentication["az_tenant_id"]}"