<%
import os, yaml, base64
config=yaml.load(open(os.environ['LANDSCAPE_CONFIG']))
auth=config["authentication"]["variant_{}".format(seed)]
kubeconfig = open(os.path.join(os.environ['LANDSCAPE_HOME'], "kubeconfig"), 'r').read()
%>
---
apiVersion: v1
kind: Secret
metadata:
  name: core-${seed}
  namespace: garden-seed-${seed}
  labels:
    cloudprofile.garden.sapcloud.io/name: ${seed} # label is only meaningful for Gardener dashboard
type: Opaque
data:
  % if seed == "aws":
  accessKeyID: ${base64.b64encode(auth["aws_access_key"])}
  secretAccessKey: ${base64.b64encode(auth["aws_secret_key"])}
  % elif seed == "openstack":
  username: ${base64.b64encode(auth["os_user_name"])}
  password: ${base64.b64encode(auth["os_password"])}
  tenantName: ${base64.b64encode(auth["os_tenant_name"])}
  domainName: ${base64.b64encode(auth["os_domain_name"])}
  % elif seed == "azure":
  tenantID: ${base64.b64encode(auth["az_tenant_id"])}
  subscriptionID: ${base64.b64encode(auth["az_subscription_id"])}
  clientID: ${base64.b64encode(auth["az_client_id"])}
  clientSecret: ${base64.b64encode(auth["az_client_secret"])}
  % elif seed == "gcp":
  serviceaccount.json: ${base64.b64encode(auth["gcp_serviceaccount_json"])}
  % endif
  kubeconfig: ${base64.b64encode(kubeconfig)}
