<%
import os, yaml, base64
config=yaml.load(open(os.environ['LANDSCAPE_CONFIG']))
region=config["seed_config"]["variant_{}".format(seed)]["region"]
domain=config["clusters"]["dns"]["domain_name"]
%>
# Seed cluster registration manifest into which the control planes of Shoot clusters will be deployed.
---
apiVersion: garden.sapcloud.io/v1beta1
kind: Seed
metadata:
  name: ${seed}
spec:
  cloud:
    profile: ${seed}
    region: ${region}
  secretRef:
    name: core-${seed}
    namespace: garden-seed-${seed}
  ingressDomain: ${"ingress." + domain}
  networks:
    nodes: ${config["seed_config"]["variant_all"]["node_cidr"]}
    pods: ${config["seed_config"]["variant_all"]["pod_cidr"]}
    services: ${config["seed_config"]["variant_all"]["service_cidr"]}
