---
apiVersion: v1
kind: Service
metadata:
  name: etcd
  namespace: ${namespace}
  labels:
    app: etcd-statefulset
spec:
  type: ClusterIP
  sessionAffinity: None
  selector:
    app: etcd-statefulset
  ports:
  - name: client
    protocol: TCP
    port: 2379
    targetPort: 2379
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: etcd
  namespace: ${namespace}
  labels:
    app: etcd-statefulset
spec:
  updateStrategy:
    type: RollingUpdate
  serviceName: etcd
  replicas: 1
  selector:
    matchLabels:
      app: etcd-statefulset
  template:
    metadata:
      annotations:
      labels:
        app: etcd-statefulset
    spec:
      containers:
      - name: etcd
        image: "quay.io/coreos/etcd:v3.3.9"
        imagePullPolicy: IfNotPresent
        command:
        - etcd 
        - --name=etcd
        - --data-dir=/var/etcd/data 
        - --listen-client-urls=https://0.0.0.0:2379
        - --advertise-client-urls=https://0.0.0.0:2379
        - --initial-cluster-token=new 
        - --initial-cluster-state=new 
        - --client-cert-auth 
        - --trusted-ca-file=/var/etcd/ssl/ca/ca.crt 
        - --cert-file=/var/etcd/ssl/server/tls.crt
        - --key-file=/var/etcd/ssl/server/tls.key
        livenessProbe: # TODO: check, always resolves to true
          exec:
            command:
            - /bin/sh
            - -ec
            - ETCDCTL_API=3
            - etcdctl
            - --cert=/var/etcd/ssl/client/tls.crt
            - --key=/var/etcd/ssl/client/tls.key
            - --cacert=/var/etcd/ssl/ca/ca.crt
            - --endpoints=https://localhost:2379
            - get
            - foo
            # ETCDCTL_API=3 etcdctl --cacert /var/etcd/ssl/ca/ca.crt --cert /var/etcd/ssl/client/tls.crt --key /var/etcd/ssl/client/tls.key --endpoints etcd.etcd.svc.cluster.local:2379 get foo
          initialDelaySeconds: 15
          periodSeconds: 5
        ports:
        - containerPort: 2380
          name: serverport
          protocol: TCP
        - containerPort: 2379
          name: clientport
          protocol: TCP
        resources:
          requests:
            cpu: 200m
            memory: 500Mi
          limits:
            cpu: 750m
            memory: 2560Mi
        volumeMounts:
        - name: etcd
          mountPath: /var/etcd/data
        - name: ca-etcd
          mountPath: /var/etcd/ssl/ca
        - name: etcd-server-tls
          mountPath: /var/etcd/ssl/server
        - name: etcd-client-tls
          mountPath: /var/etcd/ssl/client
      volumes:
      - name: etcd-server-tls
        secret:
          secretName: etcd-server-tls
      - name: etcd-client-tls
        secret:
          secretName: etcd-client-tls
      - name: ca-etcd
        secret:
          secretName: ca-etcd
  volumeClaimTemplates:
  - metadata:
      name: etcd
    spec:
      accessModes:
      - "ReadWriteOnce"
      resources:
        requests:
          storage: 10Gi